<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form action="#" th:action="@{/process}" th:object="${item}" method="post">
        <input type="hidden" th:field="*{id}"/>
        Name: <input type="text" th:field="*{name}"/>
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br/>

        Description: <textarea rows="3" type="text" th:field="*{description}"></textarea>
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span><br/>

        Priority:<input type="number" th:field="*{priority}"/>
    <span th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}"></span><br/>

        Due Date:<input type="text" th:field="*{dueDate}"/><br/>
        Completed? <input type="text" th:field="*{isCompleted}"/><br/>

        <input type="submit" value="Add"/>
    </form>

</body>
</html>